* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}
header {  
  min-height: 40px;
  background-color: #eee;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#logo img {
  margin-top: 3px;
  max-width: 32px;
  height: auto;
}
#title {
  color: cornflowerblue;
}
#logo, #title, #topmenu {
  float: left;
  padding: 2px 5px;
}

/* helpers */
.inline {
  display: inline;
}
.button {
  cursor: pointer;
}
.disabled {
  pointer-events: none !important;
  opacity: 0.5 !important;
}
.pointer-transparent {
  pointer-events: none;
}

/* top menu */
#topmenu {
  margin-top: 0.75em;
}
#topmenu > ul > li:after {
  content: '\2022';  
  color: gray;
  position: absolute;
  right: -1.25em;
  top: 0;
  margin: 0 5px;
  pointer-events: none;
}
#topmenu > ul > li:last-child:after {
  content: '';
}

/* global controls */
#gctrl {
  float: right;  
  padding: 5px;  
}
#gctrl i {
  font-size: 1.84rem;
  color: darkblue;
  padding: 0 5px;
}
#gcMenuSpeed.menu ul ul {
  min-width: 120px;
}
#gcMenuSpeed {
  pointer-events: none;
}
#gctrl i
{
  pointer-events: none;
  opacity: 0.1;
}
body.cap-speed #gcMenuSpeed,
body.cap-speed #gcMenuSpeed i,
body.cap-playback #gctrl i[action="gcStop"],
body.cap-playback #gctrl i[action="gcPlay"],
body.cap-playback #gctrl i[action="gcPause"],
body.cap-volume #gctrl i[action="gcMute"],
body.cap-volume #gctrl i[action="gcUnmute"],
body.cap-position #gctrl i[action="gcRewindRand"]
{
  pointer-events: inherit;
  opacity: 1;
}

/* general menu styles */
.menu ul {
  font-size: 1.0rem;
  color: black;  
}
.menu li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}
.menu li[value] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
}
.menu ul ul li > b {
  font-weight: bold;
  color: black;
}
.menu ul ul li > b:after {
  content: ' \000BB';  
}
.menu li[flag] i {
  padding-right: 0.3em;
  vertical-align: top;
  visibility: hidden;
}
.menu li[flag="1"] i {
  visibility: visible;
}
/* submenu */
.menu ul ul {
  width: 220px;
  border: 1px solid #aaa;
  background-color: #eee;  
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);  
}
.menu ul ul li {
  display: block;
  padding: 5px;  
}
.menu ul ul li:hover {
  background-color: #ffa;
}
/* menu drop-down*/
.menu ul > li > ul {
  position: absolute;
  display: none;
  z-index: 1;
}
.menu ul > li:hover > ul {
  display: block;
  z-index: 99;
}
/* sub-sub menu */
.menu ul ul ul {
  left: 2.5em;
  top: 1.2em;
}

/* widgets */
#widgets {
  color: gray;
  text-align: center;
  border-width: 4px;
  border-style: groove;
  border-color: #aaa;
  background-color: #eef;
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 0;  
  overflow: hidden;  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}
.placeholder {
  display: block;
  margin: 3em;
  color: #aaa;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

/* task */
.task {
  border: 1px solid gray;
  background-color: white;
  margin: 0.2rem;
  min-width: 30%; /* defines a layout type */
  min-height: 30vh; /* define max num rows */
  max-width: 99%;
  max-height: 99%;
  flex-grow: 1;
  /* overflow: hidden; */
}
.bar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: end;
  padding: 2px 5px;
  background-color: #ded;      
  border-bottom: 1px solid gray;
  text-align: left;
  color: black;  
  position: relative;  
}
.bar .title {  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  padding: 0 5px;
  position: absolute;
  left: 1.5rem;
  right: 5rem;
}
.bar .status,
.bar .settings,
.bar .remove {
  display: inline-block;  
  padding: 0 2px;
}
.bar .menu ul ul {
  left: -8em;  
}
.bar .settings > ul > li > i {
  color: black;
}
.bar .icon {
  color: brown;
  flex: 1;
}
.bar .status {
  color: gray;
}
.bar .status i {
  margin-left: 5px;
}
.bar .status i[value="0"]:before {
  visibility: hidden;
}
.bar .status i[value="ready"]:before {
  content: '\f118'; 
}
.bar .status i[value="playing"]:before {
  content: '\f04b'; 
}
.bar .status i[value="paused"]:before {
  content: '\f04c'; 
}
.bar .status i[value="ended"]:before {
  content: '\f04d'; 
}
.task .content-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 90%;
  margin-top: 2px;
}
.task .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* youtube */
.task[data-type='MtTaskYt'] .bar {
  background-color: #fba;
}
.task[data-type='MtTaskYt'] .bar .icon i:before {
  content: "\f03d";  
}
/*
.task[data-type='MtTaskYt'] .content-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.task[data-type='MtTaskYt'] .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
*/

/* audio */
.task[data-type='MtTaskAudio'] .bar {
  background-color: #bfb;
}
.task[data-type='MtTaskAudio'] .bar .icon {
  color: green;
}
.task[data-type='MtTaskAudio'] .bar .icon i:before {
  content: "\f001";  
}
.task[data-type='MtTaskAudio'] audio {
  width: 100%;
}

/* picture */
.task[data-type='MtTaskPic'] .bar {
  background-color: #ee7;
}
.task[data-type='MtTaskPic'] .bar .icon {
  color: darkred;
}
.task[data-type='MtTaskPic'] .bar .icon i:before {
  content: "\f03e";  
}
.task[data-type='MtTaskPic'] img {  
  width: 100%;
  height: 100%;
  object-fit: contain;  
}

/* iFrame */
.task[data-type='MtTaskFrame'] .bar {
  background-color: #eae;
}
.task[data-type='MtTaskFrame'] .bar .icon {
  color: blue;
}
.task[data-type='MtTaskFrame'] .bar .icon i:before {
  content: "\f0ac";  
}
.task[data-type='MtTaskFrame'] iframe {
  width: 100%;
  height: 100%;
}

/* Text */
.task[data-type='MtTaskRead'] .bar {
  background-color: #7ee;
}
.task[data-type='MtTaskRead'] .bar .icon {
  color: #333;
}
.task[data-type='MtTaskRead'] .bar .icon i:before {
  content: "\f031";  
}

/* Reading library */
.reading-view {
  position: relative;
}
.reading-view button {
  padding: 2px 5px;
}
.reading-view .sidebar-left,
.reading-view .sidebar-right
{
  display: inline-block;
  width: 48%;    
  padding: 0.5rem;
}
.reading-view .info {
  border: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
}
.reading-view .sidebar-bottom {
  display: inline-block;  
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
}
.reading-view .center {
  display: inline-block;  
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 1rem;
  font-size: 4vw;
  color: black;
  overflow: hidden;
  word-break: break-all;
}
.reading-view .center.long-word {
  font-size: 3vw;
}
.task.view-mhoriz .reading-view .center {  
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.task.view-mvert .reading-view .center {
  -moz-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);  
  transform: scale(1, -1);
}
.task.view-mhoriz.view-mvert .reading-view .center {
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);  
  transform: scale(-1, -1);
}

/* vertical orientation */
@media (max-aspect-ratio: 1/1) {
  #title {
    display: none;
  }
  #widgets {    
    flex-direction: column;  
  }
  .task {    
    min-width: 96vw; /* defines a layout type */
    min-height: 12%; /* define max num rows */
    max-width: 99%;
    max-height: 99%;    
  }
}

/* color scheme "Dark" */
body[color-scheme="dark"] a {
  color: lightsalmon;
}
body[color-scheme="dark"] header {  
  background-color: #444;
}
body[color-scheme="dark"] .menu ul {  
  color: #bbb;
}
body[color-scheme="dark"] .menu ul ul {  
  background-color: #444;
}
body[color-scheme="dark"] .menu ul ul li:hover {
  background-color: #753;
}
body[color-scheme="dark"] .menu li b {  
  color: lightsteelblue;
}
body[color-scheme="dark"] #gctrl i {  
  color: lightseagreen;
}
body[color-scheme="dark"] #widgets {  
  background-color: darkslategrey;
}
body[color-scheme="dark"] .task {  
  background-color: silver;
}