* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}
header {  
  min-height: 40px;
  background-color: #eee;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#logo img {
  margin-top: 3px;
  max-width: 32px;
  height: auto;
}
#title {
  color: cornflowerblue;
}
#logo, #title, #topmenu {
  float: left;
  padding: 2px 5px;
}

/* top menu */
#topmenu {
  margin-top: 0.75em;
}
#topmenu > ul > li:after {
  content: '\2022';  
  color: gray;
  position: absolute;
  right: -1.25em;
  top: 0;
  margin: 0 5px;
  pointer-events: none;
}
#topmenu > ul > li:last-child:after {
  content: '';
}

/* global controls */
#gctrl {
  float: right;
  font-size: 1.84rem;
  padding: 5px;
  color: darkblue;
}

/* widgets */
#widgets {
  color: gray;
  text-align: center;
  border-width: 4px;
  border-style: groove;
  border-color: #aaa;
  background-color: #eef;
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 0;  
  overflow: hidden;
}

.button {
  cursor: pointer;
}

/* general menu styles */
.menu li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}
.menu ul ul li > b {
  font-weight: bold;
  color: black;
}
.menu ul ul li > b:after {
  content: ' \000BB';  
}
/* submenu */
.menu ul ul {
  min-width: 220px;
  border: 1px solid #aaa;
  background-color: #eee;  
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}
.menu ul ul li {
  display: block;
  padding: 5px;  
}
.menu ul ul li:hover {
  background-color: #ffa;
}
/* menu drop-down*/
.menu ul > li > ul {
  position: absolute;
  display: none;
  z-index: 1;
}
.menu ul > li:hover > ul {
  display: block;
}
/* sub-sub menu */
.menu ul ul ul {
  left: 2.5em;
  top: 0.9em;
}

/* widgets */
#widgets {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}
.placeholder {
  display: block;
  margin: 3em;
  color: #aaa;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

/* task */
.task {
  border: 1px solid gray;
  background-color: white;
  margin: 0.5rem;
  min-width: 30%;
  min-height: 200px;    
  max-width: 50%;
  max-height: 50%;
  flex-grow: 1;
}
.bar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  padding: 2px 5px;
  background-color: #ded;      
  border-bottom: 1px solid gray;
  text-align: left;
}
.bar .title {  
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;  
  padding: 0 2px;  
}
.bar .status,
.bar .settings,
.bar .remove {
  display: inline-block;  
  padding: 0 2px;
}
